<form method="post">
  <div>
    <%= label_tag :geeklist_id, 'Geeklist ID' %><br>
    <%= text_field :geeklist_id, '' %>
  </div>
  <div>
    <%= label_tag :gifts, 'Gifts #' %><br>
    <%= text_field :gifts, '' %>
  </div>
  <br/>
  <div>
    <input type="submit" value="Go!" class="button"/>

    <p>
       <b>Total auction earnings:</b> <%= @money + " euros" %>
    </p>
    <p>
      <b> Random gift winners: </b> <%= @winners&.join(',') %>
    </p>
  </div>
</form>
